.dark-gray{
    background: var(--dark-color);
}

.dark-gray .info-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 30px; */
    margin-top: 30px;
}

.dark-gray .student, .file{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark-gray h3{
    font-size: 40px;
}

.dark-gray p{
    font-size: 30px;
    font-family: 'Alegreya';
}

.wrapper{
    position: relative;
}

.wrapper .iconImg2{
    position: absolute;
    top: 0;
    left: 0;
}


/* Tablet */
@media (max-width: 1040px) {
    .wrapper .iconImg2{
        right: 44px;
    }
}


/* Mobile */

@media (max-width: 720px) {
    .dark-gray .info-content{
        flex-direction: column;
        gap: 80px;
    }

    .dark-gray h3{
        font-size: 32px;
    }
    
    .dark-gray p{
        font-size: 24px;
    }

    .wrapper .iconImg2{
        left: 32px;
    }
}