.content-container{
    display: flex;
    justify-content: space-between;
}

.content-container ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 30px;
    list-style: none;
}

.content-container ul li{
    font-family: 'Alegreya';
    font-weight: 400;
    font-size: 20px;
    position: relative;
}

.content-container ul li:hover{
    cursor: pointer;
}

.content-container ul li::after{
    content: '';
    position: absolute;
    background: var(--red-color);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.topic-image img{
    width: 558px;
    height: 287px;
    object-fit: cover;
}

#topics .wrapper{
    position: relative;
}

#topics .iconImg1{
    position: absolute;
    right: -24px;
    bottom: -24px;
}