header {
  min-height: 100vh;
  background: url("../../assets/image1.png");
  background-size: cover;
  background-position: center;
}

header .wrapper {
  position: relative;
  height: 100vh;
}

header .cta {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  border-width: 4px 4px 0px 4px;
  border-style: solid;
  border-color: white;
  backdrop-filter: blur(25px);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  padding: 50px 40px;
}

header .cta .course-name {
  position: relative;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
}

header .cta .course-name::after {
  position: absolute;
  content: "";
  background-color: var(--red-color);
  height: 4px;
  width: 60px;
  left: 0;
  bottom: -10px;
}

header .cta h1 {
  font-family: "Alegreya";
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

header .cta .demo-btn{
    border-radius: 10px;
    background: var(--red-color);
    color: #fff;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
}

