nav {
    position: fixed;
    width: 1024px;
    height: 80px;
    top: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(25px);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    z-index: 300;
}

nav .logo{
    color: #fff;
    font-weight: 700;
}

nav .logo .red{
    color: var(--red-color);
}

nav .list{
    display: flex;
    list-style: none;
    gap: 50px;
}

nav .list li a{
    color: #fff;
    font-weight: 800;
    font-size: 16px;
}

.menu-icon, .mobile-menu-container{
    display: none;
}

.menu-icon img, .close-icon img:hover{
    cursor: pointer;
}


/* Tablet */
@media (max-width: 1040px) {
    nav{
        width: 694px;
    }
}

/* Mobile */
@media (max-width: 720px) {
    nav ul.list{
        display: none;
    }

    nav{
        width: unset;
        left: 32px;
        right: 32px;
        top: 16px;
    }

    .menu-icon{
        display: block;
    }

    .mobile-menu-container{
        display: flex;
        position: fixed;
        z-index: 600;
        background: var(--dark-color);
        left: 0;
        right: 0;
        padding: 60px 32px;
        transform: translateY(-100%);
        transition: all 1200ms cubic-bezier(0.3, 0.96, 0.59, 0.95);
    }

    .mobile-menu-container.active{
        transform: translateY(0);
    }

    .mobile-menu-container .menu-items{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu-container .close-icon{
        position: fixed;
        top: 32px;
        right: 32px;
    }

    .mobile-menu-container .menu-items li a{
        font-weight: 800;
        font-size: 16px;
        padding: 20px 0;
        display: inline-block;
        color: #fff;
    }
}